In [6]:
import nltk
import pandas as pd
import re

In [7]:
data = pd.read_csv(r"C:\Users\Brij\Downloads\news-topic-classification-master\BBC News Train.csv")
test_data = pd.read_csv(r"C:\Users\Brij\Downloads\news-topic-classification-master\BBC News Test.csv")

In [8]:
test_data.head()

   ArticleId                                               Text
0       1018  qpr keeper day heads for preston queens park r...
1       1319  software watching while you work software that...
2       1138  d arcy injury adds to ireland woe gordon d arc...
3        459  india s reliance family feud heats up the ongo...
4       1020  boro suffer morrison injury blow middlesbrough...

In [9]:
test_data.shape

(735, 2)

In [10]:
import nltk
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords

test_list = []
ps = PorterStemmer()

for i in range(0,len(test_data)):
    r = re.sub('[^a-zA-Z]',' ', test_data['Text'][i])
    r = r.lower()
    r = r.split()
    r = [ps.stem(word) for word in r if not word in stopwords.words('english') ]
    r = " ".join(r)
    test_list.append(r)

In [11]:
test_list[0]

'qpr keeper day head preston queen park ranger keeper chri day set join preston month loan day displac arriv simon royc second month loan charlton qpr also sign italian generoso rossi r manag ian holloway said might say risk recal month simon royc recal charlton iron fire ye coupl other need day ranger contract expir summer meanwhil holloway hope complet sign middlesbrough defend andi davi either perman loan saturday match ipswich davi impress recent loan spell loftu road holloway also chase bristol citi midfield tom doherti'

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
CV = CountVectorizer()
XX = CV.fit_transform(test_list).toarray()
XX

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [13]:
XX[0,:]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [14]:
data

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [15]:
data1 = data.copy()

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [37]:
data1.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [38]:
data1['Category'].unique()

array(['business', 'tech', 'politics', 'sport', 'entertainment'],
      dtype=object)

In [39]:
data1.isnull().sum()

ArticleId    0
Text         0
Category     0
dtype: int64

In [40]:
data1['Category'] = data1['Category'].map({"business" :0, 'tech':1, 'politics':2, 'sport':3, 'entertainment':4  })
data1['Category']

0       0
1       0
2       0
3       1
4       0
       ..
1485    4
1486    4
1487    0
1488    1
1489    1
Name: Category, Length: 1490, dtype: int64

In [41]:
data1.head(20)

    ArticleId                                               Text  Category
0        1833  worldcom ex-boss launches defence lawyers defe...         0
1         154  german business confidence slides german busin...         0
2        1101  bbc poll indicates economic gloom citizens in ...         0
3        1976  lifestyle  governs mobile choice  faster  bett...         1
4         917  enron bosses in $168m payout eighteen former e...         0
5        1582  howard  truanted to play snooker  conservative...         2
6         651  wales silent on grand slam talk rhys williams ...         3
7        1797  french honour for director parker british film...         4
8        2034  car giant hit by mercedes slump a slump in pro...         0
9        1866  fockers fuel festive film chart comedy meet th...         4
10       1683  blair rejects iraq advice calls tony blair has...         2
11       1153  housewives lift channel 4 ratings the debut of...         4
12       1028  uk coal plunges into deeper loss shares in uk ...         0
13        812  bp surges ahead on high oil price oil giant bp...         0
14        707  ireland 21-19 argentina an injury-time dropped...         3
15       1588  wenger signs new deal arsenal manager arsene w...         3
16        342  u2 s desire to be number one u2  who have won ...         4
17        486  hantuchova in dubai last eight daniela hantuch...         3
18       1344  melzer shocks agassi in san jose second seed a...         3
19       1552  moving mobile improves golf swing a mobile pho...         1

In [44]:
data1['Category'].shape

(1490,)

In [45]:
y = data1['Category']
y

0       0
1       0
2       0
3       1
4       0
       ..
1485    4
1486    4
1487    0
1488    1
1489    1
Name: Category, Length: 1490, dtype: int64

In [21]:
import re

In [45]:
import nltk
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords

text_list = []
ps = PorterStemmer()


for i in range(0,len(data1)):
    review = re.sub('[^a-zA-Z]',' ', data1['Text'][i])
    review = review.lower()
    review = review.split()
    review = [ps.stem(word) for word in review if not word in stopwords.words('english') ]
    review = " ".join(review)
    text_list.append(review)

In [145]:
text_list[0]

'worldcom ex boss launch defenc lawyer defend former worldcom chief berni ebber batteri fraud charg call compani whistleblow first wit cynthia cooper worldcom ex head intern account alert director irregular account practic us telecom giant warn led collaps firm follow discoveri bn bn account fraud mr ebber plead guilti charg fraud conspiraci prosecut lawyer argu mr ebber orchestr seri account trick worldcom order employe hide expens inflat revenu meet wall street earn estim ms cooper run consult busi told juri new york wednesday extern auditor arthur andersen approv worldcom account earli said andersen given green light procedur practic use worldcom mr ebber lawyer said unawar fraud argu auditor alert problem ms cooper also said sharehold meet mr ebber often pass technic question compani financ chief give brief answer prosecut star wit former worldcom financi chief scott sullivan said mr ebber order account adjust firm tell hit book howev ms cooper said mr sullivan mention anyth uncomfort worldcom account audit committe meet mr ebber could face jail sentenc year convict charg face worldcom emerg bankruptci protect known mci last week mci agre buyout verizon commun deal valu bn'

In [147]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(text_list).toarray()
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [148]:
X.shape

(1490, 16004)

In [149]:
XX.shape

(735, 12004)

In [150]:
X = X[:,:12004]
X.shape

(1490, 12004)

In [151]:
y.shape

(1490,)

In [133]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [134]:
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 10)

In [135]:
mn = MultinomialNB()
mn.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [136]:
y_pred = mn.predict(x_test)

In [137]:
from sklearn.metrics import accuracy_score, classification_report, f1_score

In [138]:
accuracy_score(y_test, y_pred)

0.9630872483221476

In [139]:
classification_report(y_test, y_pred)

'              precision    recall  f1-score   support\n\n           0       0.96      0.95      0.95        56\n           1       0.94      0.96      0.95        48\n           2       0.94      0.94      0.94        52\n           3       1.00      0.99      0.99        80\n           4       0.95      0.97      0.96        62\n\n    accuracy                           0.96       298\n   macro avg       0.96      0.96      0.96       298\nweighted avg       0.96      0.96      0.96       298\n'

In [152]:
mn.predict(XX)

array([3, 4, 4, 3, 4, 3, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4,
       4, 3, 0, 0, 4, 4, 4, 3, 4, 4, 0, 4, 3, 4, 4, 4, 4, 4, 3, 4, 4, 4,
       4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 0, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, 3, 4,
       4, 4, 4, 4, 0, 4, 4, 4, 4, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 1, 4, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 0, 4,
       4, 4, 3, 3, 4, 4, 0, 3, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4,
       4, 4, 3, 4, 4, 4, 4, 4, 0, 4, 4, 4, 4, 3, 4, 4, 3, 4, 3, 4, 0, 4,
       0, 4, 3, 4, 4, 4, 4, 4, 4, 3, 4, 0, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4,
       4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 3, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 0, 4, 4, 4, 4, 0, 4, 4, 4, 4, 4, 4, 4, 3, 0, 4, 4, 4, 4, 0,
       4, 4, 4, 4, 4, 3, 3, 4, 4, 4, 3, 4, 3, 3, 4, 3, 4, 3, 4, 4, 4, 4,
       4, 4, 4, 0, 3, 4, 4, 4, 4, 4, 4, 4, 0, 4, 0, 4, 0, 0, 4, 4, 0, 4,
       3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       3, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3,
       4, 4, 4, 4, 3, 4, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, 4, 4, 1, 4, 4, 4,
       3, 4, 4, 4, 3, 0, 4, 3, 4, 4, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 3, 4, 4, 3, 4, 4, 3, 3, 0, 4, 4, 4, 4, 4, 4, 0, 3, 4, 4, 4, 0,
       4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 4, 3, 4, 3, 3, 4, 3, 4, 4, 3,
       4, 4, 4, 4, 4, 3, 3, 4, 4, 3, 4, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4,
       3, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 0, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 3, 4, 4, 3, 4, 3, 4, 3, 4, 4, 4, 4, 3, 4, 3, 0,
       4, 3, 4, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4,
       4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 3, 0, 4, 4, 4, 3, 3, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 3, 4, 3, 4, 4, 4, 3, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 3, 4, 3, 4, 4, 4, 4, 4,
       4, 4, 4, 3, 3, 1, 4, 4, 1, 4, 4, 4, 4, 0, 4, 4, 4, 4, 3, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 3, 4, 4, 0, 4, 4, 4, 3, 3, 4, 4, 3, 3, 3, 3, 3, 4, 3, 4, 3,
       4, 4, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 3, 4, 4,
       4, 4, 4, 4, 4, 4, 3, 4, 4], dtype=int64)